<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="col-1">
                <button type="button" name="add" id="add" data-toggle="modal" data-target="#add_data_Modal"
                    class="btn btn-warning">Add Info Student</button>
                <p></p>
                <button type="button" name="add" id="add" data-toggle="modal" data-target="#add_class_Modal"
                    class="btn btn-warning">Add Info Class</button>
                    <p></p>
                <button type="button" name="get_all" id="get_all_info_class" class="btn btn-warning">All Info Class</button>
            </div>
            <div class="col-11">

                <div>


                    <form method="post" id="search_form">
                        <div class="row">
                            <div class="col-1">
                                <button class="btn btn-primary search_btn" type="submit" name="search_list">Search
                                </button>
                            </div>
                            <div class="col-5">
                                <input class="form-control" type="text" name="text_search" id="text_search" placeholder="Text Search">
                            </div>
                        </div>
                    </form>

                </div>

                <div id="student_table">

                </div>
            </div>
        </div>
    </div>
    <div id="add_data_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_form">
                        <label>Enter Student Name</label>
                        <input type="text" name="name" id="name" class="form-control" />
                        <br />
                        <label>Enter Student Age</label>
                        <input type="number" name="age" id="age" class="form-control"/>
                        <br />
                        <label>Enter Email</label>
                        <input type="text" name="email" id="email" class="form-control" />
                        <br />
                        <input type="hidden" name="student_id" id="student_id" />
                        <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add_class_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_class_form">
                        <label>Class Name</label>
                        <input type="text" name="name_class" id="name_class" class="form-control" />
                        <br/>
                        <label>Teacher Name</label>
                        <input type="text" name="teacher_name" id="teacher_name" class="form-control"/>
                        <br/>
                        <label>Max Student</label>
                        <input type="number" name="max_student" id="max_student" class="form-control">
                        <br/>
                        <input type="hidden" name="class_id" id="class_id" />
                        <input type="submit" name="insert" id="insert_to_class" value="Insert" class="btn btn-success" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add_student_into_class_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_student_into_class_form">
                        <label>Class Name</label>
                        <input type="text" name="name_class_add" id="name_class_add" class="form-control" />
                        <br/>
                        <input type="hidden" name="student_class_id" id="student_class_id" />
                        <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div id="add_exam_into_student_Modal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>

                </div>
                <div class="modal-body">
                    <form method="post" id="insert_exam_into_student_form">
                        <label>Name Exam</label>
                        <input type="text" name="name_exam_add" id="name_exam_add" class="form-control" />
                        <br/>
                        <input type="hidden" name="student_id" id="student_exam_id" />
                        <input type="submit" name="insert" id="insert" value="Insert" class="btn btn-success" />
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.10.1/bootstrap-table.min.js"></script>

    <script type="text/javascript">

        function render(dataObj) {
            var view = "";
                if (dataObj.length > 0) {
                    view = '<table class="table table-bordered">' +
                        '<tr> ' +
                        '<th scope="col">Name</th>' +
                        '<th scope="col">Age</th>' +
                        '<th scope="col">Email</th>' +
                        '<th scope="col">Action</th>' +
                        '</tr>';

                    for (var i = 0; i < dataObj.length; i++) {

                        view = view + '<tr>' +
                            '<td>' + dataObj[i].name + '</td>' +
                            '<td>' + dataObj[i].age + '</td>' +
                            '<td>' + dataObj[i].email + '</td>' +
                            '<td>' +
                            '<input class="btn btn-primary edit_btn" type="button" id=' + dataObj[i].id + ' name="edit" value="Edit" >' +
                            '<input class="btn btn-success add_student_into_class_btn" type="button" id=' + dataObj[i].id + ' name="add_student_into_class" value="Add Class" >' +
                            '<input class="btn btn-info get_all_class_btn" type="button" id=' + dataObj[i].id + ' name="get_all_class" value="Get All Class" >' +
                            '<input class="btn btn-primary add_exam_into_student_btn" type="button" id=' + dataObj[i].id + ' name="add_exam_into_student" value="Add Exam" >' +
                            '<input class="btn btn-danger delete_btn" type="button" id=' + dataObj[i].id + ' name="deleteBy" value="Delete" >' +
                            '</td>' +
                            '</tr>';
                    }
                    view = view + '</tbody></table>';


                }

                document.getElementById("student_table").innerHTML = view;
        }

        function renderClass(dataObj) {
            var view = "";
                if (dataObj.length > 0) {
                    view = '<table class="table table-bordered">' +
                        '<tr> ' +
                        '<th scope="col">Name</th>' +
                        '<th scope="col">Teacher Name</th>' +
                        '<th scope="col">Max Student</th>' +
                        '</tr>';

                    for (var i = 0; i < dataObj.length; i++) {

                        view = view + '<tr>' +
                            '<td>' + dataObj[i].name + '</td>' +
                            '<td>' + dataObj[i].teacher_name + '</td>' +
                            '<td>' + dataObj[i].max_student + '</td>' +
                            '</tr>';
                    }
                    view = view + '</table>';


                }

                document.getElementById("student_table").innerHTML = view;
        }


        var url = "../home/getAllList";

        $.ajax({
            type: "GET",
            url: url,
            success: function (data) {
                var dataObj = JSON.parse(data);
                render(dataObj);
            }
        });

        $(document).ready(function () {
            $('#add').click(function () {
                $('#insert').val("Insert");
                $('#insert_form')[0].reset();
            });

            $('#search_form').on("submit", function(e){

                e.preventDefault();
                var text_search = $('#text_search').val();
                if (text_search == "") {
                    alert("Text is require");
                }else {
                    $.ajax({
                        url: "../home/searchStudent",
                        type: "POST",
                        data: {text_search: text_search},
                        success: function (data) {
                            var dataObj = JSON.parse(data);
                            render(dataObj);
                        }
                    });
                }
            })

            $(document).on('click', '.delete_btn', function (e) {

                e.preventDefault();
                var student_id = $(this).attr("id");
                var url = "../home/deleteStudent";

                $.ajax({
                    type: "POST",
                    url: url,
                    data: { student_id: student_id },
                    success: function (data) {
                        if (data) alert('Delete Successful');
                        else alert('Delete Unsuccessful');
                        location.reload();
                    }
                })
            })
            $(document).on('click', '.edit_btn', function () {
                var student_id = $(this).attr("id");
                $.ajax({
                    url: "../home/getStudent",
                    method: "POST",
                    data: { student_id: student_id },
                    dataType: "json",
                    success: function (data) {
                        $('#name').val(data.name);
                        $('#age').val(data.age);
                        $('#email').val(data.email);
                        $('#student_id').val(data.id);
                        $('#insert').val("Update");
                        $('#add_data_Modal').modal('show');
                    }
                });
            });
            
            $(document).on('click', '.get_all_class_btn', function() {
                var student_id = $(this).attr("id");
                $.ajax({
                    url: "../home/getAllClassByStudentId",
                    type: "POST",
                    data: {student_id: student_id},
                    success: function(data) {
                        $dataObj = JSON.parse(data);
                        renderClass($dataObj);
                    }
                })
            })
            $('#insert_form').on("submit", function (event) {
                event.preventDefault();
                if ($('#name').val() == "") {
                    alert("Name is required");
                }
                else if ($('#age').val() == '') {
                    alert("Age is required");
                }
                else if ($('#email').val() == '') {
                    alert("Email is required");
                }
                else {
                    $.ajax({
                        url: "../home/addStudent",
                        method: "POST",
                        data: $('#insert_form').serialize(),
                        beforeSend: function () {
                            $('#insert').val("Inserting");
                        },
                        success: function (data) {
                            $('#insert_form')[0].reset();
                            $('#add_data_Modal').modal('hide');
                            alert(data);
                            location.reload();
                        }
                    });
                }
            });

            $('#insert_class_form').on("submit", function (event) {
                event.preventDefault();
                if ($('#name_class').val() == "") {
                    alert("Name is required");
                }
                else {
                    $.ajax({
                        url: "../home/addClass",
                        method: "POST",
                        data: $('#insert_class_form').serialize(),
                        beforeSend: function () {
                            $('#insert').val("Inserting");
                        },
                        success: function (data) {
                            $('#insert_class_form')[0].reset();
                            $('#add_data_Modal').modal('hide');
                            alert(data);
                            location.reload();
                        }
                    });
                }
            });

            $(document).on('click', '#get_all_info_class', function() {
                
                $.ajax({
                    url: "../home/getAllClass",
                    type: "GET",
                    success: function (data) {
                        $dataObj = JSON.parse(data);
                        renderClass($dataObj);
                    }
                });
            });

            // $(document).on('click', '.get_all_class_btn', function() {

            //     var student_id = $(this).attr("id");
            //     $.ajax({
            //         type : "POST",
            //         url: "../home/getAllClassById",
            //         data : {student_id : student_id},
            //         success: function (data) {
            //             $dataObj = JSON.parse(data);
            //             rederClass($dataObj);
            //         }
            //     });
            // });

            $(document).on('click', '.add_student_into_class_btn', function() {
                
                var student_id = $(this).attr("id");
                $('#student_class_id').val(student_id);
                $('#add_student_into_class_Modal').modal('show');
                
            });

            $('#insert_student_into_class_form').on("submit", function(event) {
                event.preventDefault();
                if ($('#name_exam_add').val() == "") {
                    alert("Name Class is required");
                }
                else {
                    $.ajax({
                        url: "../home/addStudentIntoClass",
                        method: "POST",
                        data: $('#insert_student_into_class_form').serialize(),
                        success: function (data) {
                            if(data) alert("Add Successful");
                            else alert("Add Unsuccessful");
                            $('#insert_student_into_class_form')[0].reset();
                            $('#add_student_into_class_Modal').modal('hide');

                        }
                    });
                }
            })

            $(document).on('click', '.add_exam_into_student_btn', function() {
                
                var student_id = $(this).attr("id");
                $('#student_exam_id').val(student_id);
                $('#add_exam_into_student_Modal').modal('show');
            });

            $('#insert_exam_into_student_form').on("submit", function(event) {
                event.preventDefault();
                if ($('#name_exam_add').val() == "") {
                    alert("Name Exam is required");
                }
                else {
                    $.ajax({
                        url: "../home/addExaminationIntoStudent",
                        method: "POST",
                        data: $('#insert_exam_into_student_form').serialize(),
                        success: function (data) {
                            if(data) alert("Add Successful");
                            else alert("Add Unsuccessful");
                            $('#insert_exam_into_student_form')[0].reset();
                            $('#add_exam_into_student_Modal').modal('hide');

                        }
                    });
                }
            })
        });


    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.js"
        integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>